.header {
  background: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo img {
    height: 50px;
  }

  &__nav {
    display: flex;
    padding-left: 30px;
    gap: 20px; 
  }

  .nav__item {
    text-decoration: none; // Забираємо підкреслення
    color: rgb(8, 8, 8);
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    transition: color 0.3s ease;

    &:hover {
      color: #007bff;
    }
  }

  &__search {
    flex: 1;
    width: 30%;
    display: flex;
    justify-content: center;
  }

  &__icons {
    display: flex;
    gap: 15px;
    font-size: 20px;
    cursor: pointer;
  }
}
